
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        #graph-container {
            width: 100%;
            height: 100vh;
            display: block;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div id="graph-container"></div>

    <!-- Embed data as JSON -->
    <script id="graph-data" type="application/json" class="hidden">
        {{ graph_data|safe }}
    </script>

    <!-- Load three.js -->
    <script src="{{ url_for('static', filename='js/lib/three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/3d-force-graph.min.js') }}"></script>

    <!-- Load components -->
    <script type="module" src="{{ url_for('static', filename='js/components/complex/Materials.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/components/complex/Graph.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/components/complex/Faces.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/components/complex/Tetrahedra.js') }}"></script>

    <!-- Load services -->
    <script type="module" src="{{ url_for('static', filename='js/services/DataProcessor.js') }}"></script>

    <!-- Load app-->
    <script type="module" src="{{ url_for('static', filename='js/App.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>